{% extends 'base.html.twig' %}

{% block title %}New Photo{% endblock %}

{% block body %}
    <h1>Créer une nouvelle photo</h1>

    {{ include('photo/_form.html.twig') }}

    <a href="{{ path('app_photo_index') }}">Revenir à la liste</a>
{% endblock %}
